<form class="example-form example-full-width">
    <mat-form-field class="example-full-width" appearance="outline" >
      <mat-label>E-mail</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input matInput value="">
    </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <mat-icon matPrefix>lock</mat-icon>
    <input matInput value="">
  </mat-form-field>
  <button routerLink="/dashboard" mat-stroked-button>LOGIN</button>
<button mat-button
        class="example-full-width"
        matTooltip="Mit Google einloggen"

>
  <mat-icon  (click)="loginGoogle()" svgIcon="logo"></mat-icon>
</button>
</form>
