<div class="box">
  <div class="square" style="--i:0;"></div>
  <div class="square" style="--i:1;"></div>
  <div class="square" style="--i:2;"></div>
  <div class="square" style="--i:3;"></div>
  <div class="square" style="--i:4;"></div>
  <div class="square" style="--i:5;"></div>
</div>
<div class="auth">
  <mat-tab-group dynamicHeight class="container">
    <mat-tab label="Login">
      <app-login-page></app-login-page>
    </mat-tab>
    <mat-tab label="Signup">
      <app-sign-up-page></app-sign-up-page>
    </mat-tab>
  </mat-tab-group>
</div>
