.box{
position: relative
}

.box .square{
position:absolute;
backdrop-filter:blur(3px);
border: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
background-color:rgba(255,255,255,0.2);
box-shadow: 0 25px 45px rgba(0,0,0,0.1);
border-radius: 10px;
  animation: animate 10s alternate infinite;
  animation-delay: calc(-2s * var(--i));

}

@keyframes animate {
  0%, 100%{
    transform: translateY(-40px);

  }
  50%{
    transform: translateY(40px);
  }
}

.box .square:nth-child(1){
top: 100px;
right: 10%;
width: 100px;
height: 100px;
  border-radius: 50px !important;
}

.box .square:nth-child(2){
  top: 400px;
  right: 10%;
  width: 150px;
  height: 100px;

}

.box .square:nth-child(3){
  top: -150px;
  right: 50%;
  width: 100px;
  height: 200px;
  z-index: 21;
}
.box .square:nth-child(4){
  top: 550px;
  right: 85%;
  width: 150px;
  height: 200px;
  z-index: 21;
}

.box .square:nth-child(5){
  top: 350px;
  right: 45%;
  width: 50px;
  height: 50px;
  z-index: 21;
}




.auth{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  overflow: hidden;

}

.container{
  background-color: rgba(255, 255, 255, 0.2) !important;
  height: 450px;
  width: 400px;
  border-radius: 15px;
  padding: 50px;
  box-shadow: 0 5px 55px rgba(245, 240, 240, 0.28);
  border: 1px solid rgba(255, 255, 255, 0.07);
  z-index: 3;
  backdrop-filter:blur(4px);

}

.mat-tab-label{
  color: white !important;
  font-family: Roboto, serif;
  font-weight: 300;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(248, 248, 248, 0.3);
}

.mat-tab-label-container{
  border: none;

}

.mat-tab-nav-bar, .mat-tab-header{
  border-bottom: none;
   width:100%;
}

.mat-ink-bar{
height: 1px !important;
}

.mat-tab-header-pagination-chevron{
display:none;
}






