<form class="example-form">
  <mat-form-field class="example-full-width" appearance="outline" >
    <mat-label>Benutzername</mat-label>
    <mat-icon matPrefix>edit</mat-icon>
    <input matInput  value="">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline" >
    <mat-label>E-mail </mat-label>
    <mat-icon matPrefix>email</mat-icon>
    <input matInput value="">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <mat-icon matPrefix>lock</mat-icon>
    <input matInput  value="">
  </mat-form-field>
  <button mat-stroked-button>SIGN UP</button>
</form>

