<form class="example-form" #formDataSignup='ngForm' (ngSubmit)="onSubmit(formDataSignup)">
  <mat-form-field class="example-full-width" appearance="outline" >
    <mat-label>Benutzername</mat-label>
    <mat-icon matPrefix>edit</mat-icon>
    <input matInput  value="">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline" >
    <mat-label>E-mail </mat-label>
    <mat-icon matPrefix>email</mat-icon>
    <input type="text" [(ngModel)]="email" matInput name="email">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <mat-icon matPrefix>lock</mat-icon>
    <input type="password" matInput [(ngModel)]="password" name="password">
  </mat-form-field>
  <button mat-stroked-button type="submit" (click)="onSubmit(formDataSignup)">SIGN UP </button>
</form>

