<!--<div class="box__container">-->
<!--<div class="box__container__items">-->
<!--  <div class="child1"> <button class="button">PROFIL</button></div>-->
<!--  <div class="child2"><button class="button"><span> + </span>Rechnung</button></div>-->
<!--  <div class="child3"><button class="button">STATUS</button></div>-->
<!--  <div class="child4"><button class="button"><span> + </span>Clients</button></div>-->
<!--</div>-->
<!--</div>-->
<div class="logo">.BILL</div>
<div class="row" id="cool">
  <div class="column" >
   <div class="column_item">
     <a class="button" routerLink="/profil" href="">PROFIL</a>
   </div>
  </div>
  <div class="column">
<div class="column_item">
  <a href="" routerLink="/bill" class="button">ADD Bill</a>

</div>
  </div>
</div>
<div class="row" id="mega">
  <div class="column">
   <div class="column_item">
     <a href="" routerLink="/overview" class="button">Overview</a>
   </div>
  </div>
  <div class="column">
   <div class="column_item">
     <a href="" routerLink="/clients" class="button">Clients</a>
   </div>
  </div>
</div>

//make a own bill animation icon


<!--<div id="billi">-->
<!--  <span></span>-->
<!--  <div class="circle"><p>€</p>-->
<!--  </div>-->
<!--</div>-->
