
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;


}

.column{
  flex: 50%;
  width: 50%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;


}

.button{
background: rgba(236, 236, 236, 0.28);
  margin-top: 10%;
  padding: 20px;
  outline: none;
  box-shadow: -7px -7px 20px 0 #fff9, -4px -4px 5px 0 rgba(255, 255, 255, 0.32);
  border: none;
  font-size: xxx-large;
  color: rgba(255,255,255,0.3);
  text-transform: uppercase;
}
